body {
    background-color: #121212;
    color: #f0f0f0;
}

a,
a:hover {
    color: #FFD700;
    text-decoration: none;
}

.navbar {
    background-color: #000;
}

.navbar-brand {
    color: #FFD700;
}

.btn-gold {
    border-color: #FFD700;
    color: #FFD700;
}

.btn-gold:hover {
    background-color: #FFD700;
    color: #121212;
}

input,
textarea {
    background-color: #1c1c1c;
    color: #fff;
    border: 1px solid #FFD700;
}

input::placeholder,
textarea::placeholder {
    color: #bbb;
}

.project-card {
    background-color: #1c1c1c;
    border: 1px solid #333;
    transition: transform 0.3s, box-shadow 0.3s;
    height: 100%;
  min-height: 320px; /* you can adjust */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 0 10px #FFD700;
}

.text-gold {
    color: #FFD700 !important;
}

.text-gold:hover {
    color: whitesmoke !important;
}

.project-card img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card img:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 215, 0, 0.6);
}

.project-card h5 {
    color: #FFD700;
}

.project-card a.btn {
    margin-top: 0.5rem;
}

#contact {
  background-color: #1a1d20; /* or a very dark gray */
  color: #fff;
  border-top: 2px solid #FFD700;
  height: 70vh;
}